@{
    ViewBag.Title = "LoginTemp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LOg IN Information Is Not Correct... <a href="~/Account/LoginStudent"><span style="color:red;">Try Again</span></a></h2>

