
@{
    ViewBag.Title = "StudentChangePassword";
    Layout = "~/Views/Shared/_StudentInfoSideNav.cshtml";
}

<script>
    function validateForm() {
        var newPass = document.forms["ChangePasswordForm"]["newPass"].value;
        if(newPass=="" || newPass==null)
        {
            alert("This Field Cannot Put Empty !!!");
        }
    }
</script>
<h2>@ViewBag.msg</h2>

@using (Html.BeginForm("StudentChangePassword", "Account", FormMethod.Post, new { name = "ChangePasswordForm", onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()
     <div class="container">

            <div class="well well-sm">

                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4">
                        <h1 class="text-center login-title">Change Your Password</h1>
                        <div class="account-wall">
                            <img class="img-responsive center-block" src="~/Picture/pstu_logo.jpg" width="300" height="300" alt="">

                            &nbsp;

                            <form class="form-signin">

                                <div class="row">
                                   &nbsp; &nbsp; <label for="password">Enter New Password:</label>
                                    <div class="col-md-10">
                                        
                                        <input type="password" name="newPass" class="form-control" placeholder="New Password" required autofocus>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </div>
                                &nbsp;
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
}

