<h2>Class Routine For : <b style="color:green;">Level:@Session["level"] / Semester:@Session["semester"]</b></h2>
<div>&nbsp;</div>
<div>&nbsp;</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Day</th>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
            <th>Forth</th>
            <th>Fifth</th>
            <th>Sixth</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>Sunday</td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>

        </tr>

        <tr>
            <td>Monday</td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>

        </tr>

        <tr>
            <td>Tuesday</td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>


        </tr>

        <tr>
            <td>Wedneday</td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>

            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>

        </tr>

        <tr>
            <td>Thursday</td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>
            <td>
                CIT-322<br>
                9am-12pm<br>
                MAT
            </td>


        </tr>

    </tbody>

</table>
