@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentInfoSideNav.cshtml";
}


<div>

    @{
        @*<h1>@Session["currentState"].ToString()</h1>*@
       // @Html.Partial("" + Session["currentState"].ToString());
       // string vari = "2";
   //     @Html.Partial("" + Session["currentState"]);
        
        
    }
</div>
