@{
    ViewBag.Title = "admit_stopage";
    Layout = "~/Views/Shared/_AdmissionStudentSideNav .cshtml";
}

<h2 style="text-align:center;"><a href="~/Admission_student/pdf_admit"><span class="glyphicon glyphicon-certificate"></span>&nbsp;<b>Your Admit Card Is Ready ... Download Here </b></a></h2>
