
@{
    ViewBag.Title = "AvailablityResult";
    Layout = "~/Views/Shared/_StudentInfoSideNav.cshtml";
}

<h2>Dear Student !!!</h2>
<h2>Sorry !!! Request For This Semester Is Already In Pending ... </h2>

