@using UIS.Models;
@model dynamic
@*@model IEnumerable<enrolledStudent>*@
@{
    ViewBag.Title = "EnrolledSemesters";
    Layout = "~/Views/Shared/_StudentInfoSideNav.cshtml";
}

<h1 style="text-align:center;text-decoration:underline;color:green;">Completely Enrolled Semesters</h1>
<div>&nbsp;</div>
@foreach (enrolledStudent es in Model.semesterFees)
{
    <div class="panel panel-default">
        <div class="panel-body">

            @EnrolledStudents.Render(es, Html)

        </div>
    </div>

}

<h1 style="text-align:center;text-decoration:underline;color:red;">Completely Enrolled FI Courses</h1>
<div>&nbsp;</div>
@foreach (FiEnrolledStudent es in Model.fiSemesterFees)
{
    <div class="panel panel-default">
        <div class="panel-body">

            @fiEnrolled.Render(es, Html)

        </div>
    </div>

}


