
@{
    ViewBag.Title = "ApprovementEntry";
    Layout = "~/Views/Shared/_StudentInfoSideNav.cshtml";
}

<h2>Your Certificate Is Ready .... <a href="~/DeanOffice/downloadPdf"><span class="glyphicon glyphicon-certificate"></span>&nbsp;<b>Click Here To Download... </b></a> </h2>

