
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdmissionSideNav.cshtml";
}

<h2 style="text-align:center;font-family:'Times New Roman';text-decoration:underline;">Add Student To UIS Database</h2>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<h1><a href="~/Admission_final/a_unit">A-UNIT Admission (Merit)</a></h1>
<h1><a href="~/Admission_final/a_unit_waiting">A-UNIT Admission (Waiting)</a></h1>
<h1><a href="~/b_unit/b_unit">B-UNIT Admission (Merit)</a></h1>
<h1><a href="~/b_unit/b_unit_waiting">B-UNIT Admission (Waiting)</a></h1>
<h1><a href="~/c_unit/c_unit">C-UNIT Admission (Merit)</a></h1>
<h1><a href="~/c_unit/c_unit_waiting">C-UNIT Admission (Waiting)</a></h1>

